<!-- prettier-ignore -->
<section
  class="hero"
  {{ with .image }}style="background-image: url('/images/page/repertori/{{ . }}');"{{ end }}
>
  <div class="container">
    <div class="hero__title">
      <!-- prettier-ignore -->
      {{ with .title }}
      <h1 class="h3 h3--light">{{ . }}</h1>
      {{ end }}
    </div>
    <div class="hero__content">
      <!-- prettier-ignore -->
      {{ with .desc }}
      <h2 class="subtitle-1 subtitle-1--light">{{ . }}</h2>
      {{ end }}
    </div>
  </div>
</section>
