<section class="panel panel--centered u-text-align-center">
  <div class="container">
    <div class="panel__inner">
      <h2 class="h4 h4--primary">Una mica de mitologia</h2>
      <p class="h6">
        La humanitat va inventar les divinitats a la seva mida segons els seus
        propis vicis, virtuts i capacitats.
      </p>
      <p class="h6 h6--bold">Som com érem i érem com som.</p>
      <p class="h6 u-margin-bottom-0">
        La mitologia grega és el millor compendi de psicologia humana on trobem
        ja tots els arguments de la ficció actual.
      </p>
    </div>
  </div>
</section>
