<section class="content">
  <h2>Altres Galàxies</h2>
  <ul>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-identifican-mayor-cumulo-galactico-universo-primitivo-201601081203_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >El major cúmul galàctic de l’Univers primitiu
      </a>
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-descubren-cientos-galaxias-ocultas-detras-lactea-201602101037_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >Centenars de galàxies tapades per la pròpia Via Làctia</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2016/03/04/ciencia/1457093931_428922.html"
        target="_blank"
        rel="noopener noreferrer"
        >La galaxia més antiga mai trobada (de moment!)</a
      >
    </li>
  </ul>
</section>
