<section class="content">
  <h2>Cosmologia</h2>
  <ul>
    <li>
      <a
        href="http://www.europapress.es/ciencia/astronomia/noticia-luz-gran-explosion-hace-12000-millones-anos-alcanza-tierra-20140605175558.html"
        target="_blank"
        rel="noopener noreferrer"
        >GRB 140419A. Arriba ara una explosió de fa 12.000 milions d’anys</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20150827/abci-hawking-misterio-agujeros-negros-201508271409.html"
        target="_blank"
        rel="noopener noreferrer"
        >Hawking: forats negres? Potser només corredors a d’altres univers</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20140520/abci-universo-jamas-veremos-201405201059.html"
        target="_blank"
        rel="noopener noreferrer"
        >Reflexions sobre l’expansió de l’Univers</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20140519/abci-proponen-metodo-transformar-materia-201405190950.html"
        target="_blank"
        rel="noopener noreferrer"
        >Llum transformada en matèria?</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/ciencia/20140604/54409620366/cern-descubrir-antimateria.html"
        target="_blank"
        rel="noopener noreferrer"
        >L’antimatèria</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20140517/abci-martin-rees-astronomo-201405162046.html"
        >El Big Bang i moltes altres coses: entrevista a Martin Rees</a
      >
    </li>
    <li>
      Un nou telescopi pel 2018: el James Webb. Richard Ellis a Madrid /
      Fundació BBVA
      <a
        href="http://www.youtube.com/watch?v=WCHi4hioFEI&amp;feature=player_embedded#at=14"
        target="_blank"
        rel="noopener noreferrer"
        >Película d’animació sobre el cosmos que tenim al voltant</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20150206/abci-primeras-estrellas-aparecieron-tarde-201502051949.html"
        target="_blank"
        rel="noopener noreferrer"
        >Aparició de les primeres estrelles</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20150331/abci-descubren-cientos-galaxias-201503311703.html"
        target="_blank"
        rel="noopener noreferrer"
        >Centenars de galaxies poc desprès del Big-Bang</a
      >
    </li>
    <li>
      <a
        href="http://www.youtube.com/watch?v=WCHi4hioFEI&amp;feature=player_embedded#at=14"
        target="_blank"
        rel="noopener noreferrer"
        >La locució està en anglès amb un fort accent francés (ajudeu-vos amb
        els subtítols a triar)
      </a>
    </li>
    <li>
      <a
        href="http://www.larazon.es/detalle_normal/noticias/2785246/sociedad+ciencia/cientificos-internacionales-crean-un-mapa-deta#.UcnEv4VvUbo"
        target="_blank"
        rel="noopener noreferrer"
        >Aquí la notícia a la premsa</a
      >
    </li>
    <li>
      10.000 mil.lions d’anys d’evolució còsmica: projecte Alhambra. La Terra en
      mig de l’Univers:
      <a
        href="http://sociedad.elpais.com/sociedad/2013/07/23/actualidad/1374582829_839160.html"
        target="_blank"
        rel="noopener noreferrer"
        >La Terra vista des de Saturn</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20121227/abci-nacio-universo-version-definitiva-201212271224.html"
        target="_blank"
        rel="noopener noreferrer"
        >L’orígen del món. “Versió definitiva”</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20130510/abci-sera-final-universo-201305101014.html"
        target="_blank"
        rel="noopener noreferrer"
        >Final del Univers</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20131218/abci-descubierta-musica-galaxias-201312181238.html"
        target="_blank"
        rel="noopener noreferrer"
        >L’imatge més antiga de l’Univers Ones, música de les galàxies?</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2014/03/17/actualidad/1395070473_494711.html"
        target="_blank"
        rel="noopener noreferrer"
        >Primeres ones del Big-Bang</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2014/05/27/actualidad/1401209786_084994.html"
        target="_blank"
        rel="noopener noreferrer"
        >Dubtes sobre les dades de “primeres ones del Big Bang”</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20141030/abci-hubo-agua-tierra-desde-201410301253.html"
        target="_blank"
        rel="noopener noreferrer"
        >Aigüa a la Terra</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/ciencia/20140604/54408672909/telescopio-hubble-capta-imagen-completa-universo-evolucion.html"
        target="_blank"
        rel="noopener noreferrer"
        >Hubble: la millor imatge de l’Univers en evolució</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20130726/abci-sistema-solar-tiene-cola-201307251727.html"
        target="_blank"
        rel="noopener noreferrer"
        >El Sistema solar té cua</a
      >
    </li>
    <li>
      <a
        href="http://www.youtube.com/watch?v=VzL7xGzfNlU"
        target="_blank"
        rel="noopener noreferrer"
        >On sóm al mig de l’Univers</a
      >
    </li>
    <li>
      Hubble:
      <a
        href="http://www.larazon.es/detalle_normal/noticias/1751047/sociedad+ciencia/el-hubble-capta-la-supernova-mas-lejana#.UWNBKYVOwbo"
        target="_blank"
        rel="noopener noreferrer"
        >La super nova més llunyana</a
      >
    </li>
    <li>
      Plank:
      <a
        href="http://www.skyandtelescope.com/community/skyblog/newsblog/Planck-Spacecraft-Shut-Down-228760911.html"
        target="_blank"
        rel="noopener noreferrer"
        >Final de la missió (English)</a
      >
    </li>
    <li>
      <a
        href="http://www.larazon.es/detalle_normal/noticias/4017955/sociedad+ciencia/cientificos-descubren-el-alimento-de-las-supernovas-superluminosas#.UmEsz4VvUbo"
        target="_blank"
        rel="noopener noreferrer"
        >Nova teoria sobre les supernoves</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2013/08/06/actualidad/1375818166_663162.html"
        target="_blank"
        rel="noopener noreferrer"
        >Una explosió de fa 12.700 mil.lions d’anys</a
      >
    </li>
    <li>
      <a
        href="http://www.elmundo.es/ciencia/2013/10/23/5268011f63fd3d18418b4572.html?a=8356b3ed9cc423ae41d1175afe8a78ad&amp;t=1382555882"
        target="_blank"
        rel="noopener noreferrer"
        >La galàxia més llunyana trobada (octubre 2013)</a
      >
    </li>
    <li>
      També a
      <a
        href="http://sociedad.elpais.com/sociedad/2013/10/23/actualidad/1382546816_606424.html"
        target="_blank"
        rel="noopener noreferrer"
        >La galaxia més llunyana</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20131025/abci-detectan-primera-emitida-bang-201310251020.html"
        target="_blank"
        rel="noopener noreferrer"
        >La llum, trobada, més jove desprès del BB</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/tecnologia/redes/20131202/abci-descubrimientos-absurdos-espacio-exterior-201312020916.html"
        target="_blank"
        rel="noopener noreferrer"
        >Descobriments sorprenents (o curiosos)</a
      >
    </li>
    <li>
      <a
        href="http://www.larazon.es/detalle_normal/noticias/6087229/multimedia+videos/escuchando-el-corazon-de-las-estrellas#.U0cVtIVvUbo"
        target="_blank"
        rel="noopener noreferrer"
        >Sismologia per estudiar les estrelles</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20140502/abci-foto-muestra-universo-desde-201404301751.html"
        target="_blank"
        rel="noopener noreferrer"
      >
        Video explicatiu sobre la foto transversal del Univers del Hubble de
        “Materia Oscura”</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2014/05/08/actualidad/1399557303_218642.html"
        target="_blank"
        rel="noopener noreferrer"
        >Pel.liculeta sobre 13,000 mil·lions d’anys</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20140521/abci-universo-comenzo-enfriarse-hace-201405201821.html?utm_source=abc.es&amp;utm_medium=modulo-sugerido&amp;utm_content=noticia-AB&amp;utm_campaign=outbrain=obnetwork"
        target="_blank"
        rel="noopener noreferrer"
        >L’Univers es va començar a refredar fa 11.000 mil.lions d’anys</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2014/08/27/actualidad/1409166904_584398.html"
        target="_blank"
        rel="noopener noreferrer"
        >GOODS- N-774. Galaxia tal com era fa 11.ooo mil.lions anys</a
      >
    </li>
    <li>
      <a
        href="https://www.youtube.com/watch?v=Q2dKbQbW8w8"
        target="_blank"
        rel="noopener noreferrer"
        >Video</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20140516/abci-misterio-galaxia-fantasma-201405141706.html"
        target="_blank"
        rel="noopener noreferrer"
        >“Materia oscura”: Una galaxia fantasma i explicació detallada dels
        procesos a les estrelles</a
      >
    </li>
    <li>
      <a
        href="https://www.youtube.com/watch?v=Jl9DwNOonOA"
        target="_blank"
        rel="noopener noreferrer"
        >El futur del nostre Univers</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/fotos-ciencia/20131117/fotos-impresionantes-captadas-telescopio-1511468326532.html"
        target="_blank"
        rel="noopener noreferrer"
        >Les millors fotos fetes pel Hubble</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2014/04/22/actualidad/1398188189_082834.html"
        target="_blank"
        rel="noopener noreferrer"
        >Dansa de forats negres</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20140424/abci-universo-deja-fabricar-estrellas-201404231806.html"
        target="_blank"
        rel="noopener noreferrer"
        >Baixa la producció d’estrelles</a
      >
    </li>
    <li>
      <a href="#" target="_blank" rel="noopener noreferrer"
        >Una supernova del 2010 no era tant especial</a
      >
    </li>
    <li>
      <a
        href="http://scitechdaily.com/ps1-10afx-supernova-magnified-by-gravitational-lensing/"
        target="_blank"
        rel="noopener noreferrer"
        >Equema de la lent gravitacional</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20140725/abci-planeta-puede-poner-reves-201407251002.html"
        target="_blank"
        rel="noopener noreferrer"
        >Un nou model cosmològic?</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20140805/abci-objetos-rapidos-universo-201408041950_1.html"
        target="_blank"
        rel="noopener noreferrer"
        >Les més grans velocitats</a
      >
    </li>
    <li>
      <a
        href="http://www.publico.es/ciencias/sophie-eck-estrellas-son-verdaderas.html"
        target="_blank"
        rel="noopener noreferrer"
        >Les estrelles, entreviata a Sophie Van Eck</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/02/24/ciencia/1424803741_747533.html"
        target="_blank"
        rel="noopener noreferrer"
        >El més gran forat negre</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20150225/abci-monstruo-espacial-201502251810.html"
        >El més gran forat negre 2</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20151021/abci-descubren-planetoide-tierra-201510211915.html"
        target="_blank"
        rel="noopener noreferrer"
        >Una estrella es traga un planeta</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20150909/abci-teoria-universo-ciencia-201509082301.html"
        target="_blank"
        rel="noopener noreferrer"
        >Càlcul sobre la fi de l’Univers?</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-puede-bang-espejismo-201601040931_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >El Big-Bang, una explosió d’una estrella de quatre dimensions?
      </a>
    </li>
    <li>
      <a
        href="http://www.publico.es/ciencias/universo-observable-al-completo-sola.html"
        target="_blank"
        rel="noopener noreferrer"
        >Tot l’Univers en una sola imatge?</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-proponen-existencia-universo-espejo-tiempo-fluye-hacia-atras-201601251312_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >Un temps en dues direccions opostes desprès del Big Bang?</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2016/02/11/ciencia/1455201194_750459.html"
        target="_blank"
        rel="noopener noreferrer"
        >Les ones gravitacionals captdades</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2016/02/11/ciencia/1455216078_439368.html?autoplay=1"
        target="_blank"
        rel="noopener noreferrer"
        >El so de les ones gravitacionals</a
      >
    </li>
  </ul>
</section>
