<section class="content">
  <h2>Efemèrides Astronòmiques</h2>
  <ul>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-solsticio-invierno-peculiares-fenomenos-traera-solsticio-invierno-partir-esta-madrugada-201512211808_noticia.html"
        >L’hivern</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-doce-eventos-astronomicos-veremos-2016-201601032319_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >12 fenòmens per cada mes de 2016</a
      >
    </li>
    <li>
      <a
        href="http://www.elperiodico.com/es/noticias/ciencia/cinco-planetas-linea-madrugada-4828910"
        target="_blank"
        rel="noopener noreferrer"
        >Febrer 2016: Jupiter, Mart, Saturn, Venus i Mercuri de matinada</a
      >
    </li>
  </ul>
</section>
