<section class="content">
  <h2>Exoplanetes</h2>
  <ul>
    <li>
      <a
        href="http://www.abc.es/ciencia/20131105/abci-cada-cinco-estrellas-como-201311041857.html"
        target="_blank"
        rel="noopener noreferrer"
        >Sobre planetes habitables</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2012/07/26/actualidad/1343330163_287085.html"
        target="_blank"
        rel="noopener noreferrer"
        >Una estructura de planetes “com” la nostra</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2013/01/08/actualidad/1357644424_320990.html"
        target="_blank"
        rel="noopener noreferrer"
        >461 possibles planetes</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20131023/abci-planetas-descubiertos-fuera-sistema-201310231358.html"
        target="_blank"
        rel="noopener noreferrer"
        >Exoplanetes (a 10/2013)</a
      >
    </li>
    <li>
      Exoplanetes, de moment a 27.2.14:
      <a
        href="http://www.lavanguardia.com/vida/20140226/54402596664/la-nasa-ha-identificado-715-planetas-fuera-del-sistema-solar.html"
        target="_blank"
        rel="noopener noreferrer"
        >715</a
      >
    </li>
    <li>
      <a
        href="http://www.elperiodico.com/es/noticias/ciencia/los-planetas-extrasolares-mas-intrigantes-4620575"
        target="_blank"
        rel="noopener noreferrer"
        >Llistat de exoplanetes</a
      >
    </li>
  </ul>

  <h3>Sol:</h3>
  <ul>
    <li>
      <a
        href="http://www.abc.es/ciencia/20131022/abci-raro-eclipse-hibrido-ocultara-201310221018.html"
        target="_blank"
        rel="noopener noreferrer"
        >Eclipse híbrid del Sol: novembre 2013</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/ciencia/20131104/54392717442/acabara-sol-vida-tierra.html"
        target="_blank"
        rel="noopener noreferrer"
        >Així el sol acabarà la vida a la terra: el procés començarà d’aquí 500
        mil.lions d’anys</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/vida/20140508/54407680069/nasa-realiza-la-observacion-mas-completa-de-una-llamarada-solar.html"
        target="_blank"
        rel="noopener noreferrer"
        >La més gran flamarada</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/ciencia/20140511/54407804716/descubren-hermanos-sol.html"
        target="_blank"
        rel="noopener noreferrer"
        >Estrella germana del Sol a Hércules</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20151013/abci-alineamiento-201510131327.html"
        target="_blank"
        rel="noopener noreferrer"
        >Els pols del Sol</a
      >
    </li>
    <li>
      <a
        href="https://www.youtube.com/watch?v=6tmbeLTHC_0"
        target="_blank"
        rel="noopener noreferrer"
        >Film del Sol en ultra definició</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2016/02/02/videos/1454440729_115911.html"
        target="_blank"
        rel="noopener noreferrer"
        >Film sobre el magnetisme solar</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-cronica-muerte-anunciada-sera-final-dentro-5000-millones-anos-201603081816_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >D’aqui 5.000 mil.lions d’anys el sol s’acaba</a
      >
    </li>
  </ul>

  <h3>Lluna:</h3>
  <ul>
    <li>
      <a
        href="http://www.abc.es/ciencia/20130529/abci-cambiara-tierra-cuando-luna-201305281711.html"
        target="_blank"
        rel="noopener noreferrer"
        >La Lluna s’allunya</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20131016/abci-como-veria-luna-estuviera-201310161042.html"
        target="_blank"
        rel="noopener noreferrer"
        >Si la Lluna fos a la distància de la ISS</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20140402/abci-verdadera-edad-luna-201404021351.html"
        target="_blank"
        rel="noopener noreferrer"
        >Sobre d’edat de la lluna</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20140421/abci-rayo-verde-sale-luna-201404211043.html"
        target="_blank"
        rel="noopener noreferrer"
        >Un raig verd torna de la Lluna</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20140610/abci-misterio-cara-oculta-luna-201406101209.html"
        target="_blank"
        rel="noopener noreferrer"
        >Raó de les diferències entre les dues cares de la lluna
      </a>
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20141001/abci-desvelan-origen-oceano-tormentas-201410011426.html"
        target="_blank"
        rel="noopener noreferrer"
        >Orígen del Mar de les tempestes</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/12/15/ciencia/1450179769_533306.html"
        target="_blank"
        rel="noopener noreferrer"
        >Una Terra sense Lluna?</a
      >
    </li>
    <li>
      <a
        href="http://www.ara.cat/suplements/diumenge/Gracies-lluna-terra-or-plata_0_1505849403.html"
        target="_blank"
        rel="noopener noreferrer"
        >Or i plata a la Terra, gràcies a la Lluna?</a
      >
    </li>
  </ul>
</section>
