<section class="content">
  <h2>Exploració de l'Espai</h2>
  <ul>
    <li>
      <a
        href="http://www.publico.es/ciencias/imagen-mas-detallada-jamas-vista.html"
        target="_blank"
        rel="noopener noreferrer"
        >L’imatge més llunyana, més detallada</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2014/04/16/actualidad/1397656534_912417.html"
        target="_blank"
        rel="noopener noreferrer"
        >Llavors de cirerers han sofert mutacions</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/ciencia/20140416/54405869699/cientificos-barco-vela-titan-estudiar-mares.html"
        target="_blank"
        rel="noopener noreferrer"
        >Un veler a Tità</a
      >
    </li>
    <li>
      <a
        href="http://www.larazon.es/detalle_normal/noticias/6193942/sociedad+ciencia/un-telescopio-detecta-en-puerto-rico-extranas-rafagas-de-fuera-de-la-galaxia#.U1ottoVvUbo"
        target="_blank"
        rel="noopener noreferrer"
        >Els observatoris d’Arecibo i Parkes han captat un nou tipus de
        senyal</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/fotos-ciencia/20140806/imagenes-cometa-captado-sonda-1613160743996.html"
        target="_blank"
        rel="noopener noreferrer"
        >Trobada entre La nau Rossetta i el Churyumov-Gerasimenko</a
      >
    </li>
    <li>
      <a
        href="http://en.wikipedia.org/wiki/WISE_J224607.57-052635.0"
        target="_blank"
        rel="noopener noreferrer"
        >La galàxia més lluminosa (Wiki)</a
      >
    </li>
    <li>
      <a
        href="http://www.skyandtelescope.com/astronomy-news/most-luminous-galaxy-0527201587/"
        target="_blank"
        rel="noopener noreferrer"
        >La galàxia més lluminosa (Sky and Telescope)</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2009/08/25/actualidad/1251151202_850215.html"
        >El 400 aniversari del telescopi</a
      >
    </li>
    <li>
      <a
        href="http://verne.elpais.com/verne/2015/01/16/articulo/1421396454_992571.html"
        target="_blank"
        rel="noopener noreferrer"
        >Cóm es preparen les fotos d’astronomia</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/09/08/ciencia/1441724008_517820.html"
        target="_blank"
        rel="noopener noreferrer"
        >EGS8p7: la galàxia més llunyana</a
      >
    </li>
    <li>
      <a
        href="http://noticias.eltiempo.es/2014/04/07/por-que-los-aviones-dejan-estelas-blancas/"
        target="_blank"
        rel="noopener noreferrer"
        >Esquema de la atmósfera a la ionosfera</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/10/28/ciencia/1446051155_519282.html?rel=ult"
        target="_blank"
        rel="noopener noreferrer"
        >Williamina Fleming</a
      >
    </li>
    <li>
      <a
        href="http://www.eldiario.es/sociedad/basura_espacial-astronomia-ciencia_0_451105767.html"
        target="_blank"
        rel="noopener noreferrer"
        >Escombraria a l’espai</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/11/10/ciencia/1447181710_961037.html?rel=vid"
        target="_blank"
        rel="noopener noreferrer"
        >La part perduda de materia del Bing-Bang</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/ciencia/fisica-espacio/20160111/301330610617/supernova-brillante-jamas-vista.html"
        target="_blank"
        rel="noopener noreferrer"
        >La més gran supernova mai detcetada abans</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-babilonios-adelantaron-1400-anos-calculo-posicion-planetas-201601282125_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >El babilonis, adelantats en 1400 anys</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-inexplicable-senal-llegada-desde-cumulo-perseo-201603112032_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >Nova linea espectral</a
      >
    </li>
    <li>
      <a
        href="http://blogs.publico.es/ignacio-martil/2016/05/27/la-invisible-y-muy-real-radiacion-infrarroja/"
        target="_blank"
        rel="noopener noreferrer"
        >La llum infraroja</a
      >
    </li>
  </ul>
</section>
