<section class="content">
  <h2>Història i Ciència</h2>
  <ul>
    <li>
      <a
        href="http://elpais.com/elpais/2015/08/19/ciencia/1439979599_656655.html?rel=lom"
        target="_blank"
        rel="noopener noreferrer"
        >Kepler i Brahe, també astròlegs</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/12/22/ciencia/1450806264_147847.html"
        target="_blank"
        rel="noopener noreferrer"
        >Supernoves i Reis d’Orient</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/cultura/arte/20140712/abci-anticitera-naufragio-exposicion-201407111314.html"
        target="_blank"
        rel="noopener noreferrer"
        >L’anticitera</a
      >
    </li>
    <li>
      <a
        href="http://www.elmundo.es/ciencia/2014/05/04/5363cc17ca4741af3b8b4572.html?cid=MNOT23801&amp;s_kw=cervantes_y_el_enigma_de_las_lunas_de_jupiter"
        target="_blank"
        rel="noopener noreferrer"
        >Ganimedes, Cervantes i altres polémiques</a
      >
    </li>
    <li>
      <a
        href="http://www.elmundo.es/elmundo/2013/06/21/ciencia/1371804460.html?a=8e6a868800718a1e18a3c502f22be8f7&amp;t=1371857535&amp;numero="
        target="_blank"
        rel="noopener noreferrer"
        >Les peripecies del pobre Galileu</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20130720/abci-fenomeno-fisico-clave-enigma-201307191812.html"
        target="_blank"
        rel="noopener noreferrer"
        >Materia-antimateria</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2013/09/03/actualidad/1378230894_481501.html"
        target="_blank"
        rel="noopener noreferrer"
        >Projecte d’estudi de la matèria negra</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/cultura/20131006/abci-carbono-catorce-cambia-historia-201310051736.html?utm_source=abc.es&amp;utm_medium=modulo-sugerido&amp;utm_content=noticia-AB&amp;utm_campaign=outbrain=obnetwork"
        target="_blank"
        rel="noopener noreferrer"
        >Matèria fosca? Carboni 14</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20140422/abci-turbulencia-cuantica-otra-puerta-201404221347.html"
        target="_blank"
        rel="noopener noreferrer"
        >Turbulència quàntica</a
      >
    </li>
    <li>
      <a
        href="http://www.larazon.es/detalle_normal/noticias/6301396/sociedad+ciencia/cientificos-de-la-nasa-crean-polvo-espacial-al-imitar-las-condiciones-de-una-estrella#.U2tRRYVvUbo"
        target="_blank"
        rel="noopener noreferrer"
        >Pols estelar al laboratori</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/02/17/ciencia/1424196164_069039.html"
        target="_blank"
        rel="noopener noreferrer"
        >Hyper Kamiokande: una cova per l’estudi del origens de l’Univers</a
      >
    </li>
    <li>
      <a
        href="http://www.elmundo.es/andalucia/2014/04/13/53497ac422601d4f0e8b456f.html"
        target="_blank"
        rel="noopener noreferrer"
        >Sierra Morena nova reserva de cel net</a
      >
    </li>
    <li>
      <a
        href="http://www.elmundo.es/ciencia/2014/06/04/538e0660e2704e79348b4577.html?a=3c36c6ee417c955236faaea01f34359c&amp;t=1401873721"
        target="_blank"
        rel="noopener noreferrer"
        >El cel durant el mes de juny 2014</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/10/08/actualidad/1444329827_324139.html"
        target="_blank"
        rel="noopener noreferrer"
        >El rellotge astronòmic de Praga</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/vida/20151030/54438501709/nasa-imagenes-geoglifos-kazajistan.html"
        target="_blank"
        rel="noopener noreferrer"
        >Geoglifs del Kazajistà</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/11/10/ciencia/1447159566_647384.html"
        target="_blank"
        rel="noopener noreferrer"
        >El número PI enllaça la física quàntica amb les matemàtiques</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/11/19/ciencia/1447926957_854635.html"
        target="_blank"
        rel="noopener noreferrer"
        >La teoria de la Relativitat en dos minuts</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/11/18/ciencia/1447849964_821102.html?rel=epr"
        target="_blank"
        rel="noopener noreferrer"
        >Ones que modifiquen l’espai-temps</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-logran-recrear-sopa-primordial-materia-tras-bang-201511262138_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >La “sopa primordial” reproduïda</a
      >
    </li>
    <li>
      <a
        href="http://www.jotdown.es/2015/08/el-cosmos-pertenece-a-los-griegos-i/"
        target="_blank"
        rel="noopener noreferrer"
        >El cosmos pertany al grecs 1</a
      >
    </li>
    <li>
      <a
        href="http://www.jotdown.es/2015/08/el-cosmos-pertenece-a-los-griegos-y-ii/"
        target="_blank"
        rel="noopener noreferrer"
        >El cosmos pertany als grecs 2</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/sociedad/abci-actividad-humana-cada-mas-cerca-marcar-nueva-epoca-geologica-201601071823_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >L’Antropocé ja és aquí</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2016/01/15/ciencia/1452875937_046921.html"
        target="_blank"
        rel="noopener noreferrer"
        >Un metabolisme de 3.000 mil.lions d’anys</a
      >
    </li>
  </ul>
</section>
