<section class="content">
  <h2>Planetes</h2>
  <ul>
    <li>
      <a
        href="http://www.huffingtonpost.es/2013/06/27/asi-se-verian-los-planeta_n_3508459.html"
        target="_blank"
        rel="noopener noreferrer"
        >Per entendre el tamany dels planetes</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20131113/abci-tres-inmensos-cataclismos-cambiaran-201311131241_1.html"
        target="_blank"
        rel="noopener noreferrer"
        >Notícies futures de planetes (Saturn, Neptú…)</a
      >
    </li>
  </ul>

  <h3>Mart:</h3>
  <ul>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-marte-sale-edad-hielo-201605261522_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >Mart surt ara d'una de gel</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20130603/abci-polo-norte-marte-coronado-201306031719.html"
        target="_blank"
        rel="noopener noreferrer"
        >Una capa de gel al pol nord</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20131011/abci-esto-marte-altisima-resolucion-201310101759.html"
        target="_blank"
        rel="noopener noreferrer"
        >Fotos en alta resolució</a
      >
    </li>
    <li>
      <a
        href="http://spaceinvideos.esa.int/Videos/2013/12/Phobos_360"
        target="_blank"
        rel="noopener noreferrer"
        >Video 360 graus en torn de la lluna Fobos</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2013/06/20/actualidad/1371730809_565924.html"
        target="_blank"
        rel="noopener noreferrer"
        >Una volteta per Mart en fotos reals</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2013/09/05/album/1378381249_000558.html#1378381249_000558_1378381398"
        >El volcà Becquerel</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/ciencia/20131011/54390914794/sonda-mars-express-retrata-cicatrices-abiertas-marte.html"
        target="_blank"
        rel="noopener noreferrer"
        >+Fotos de Mar</a
      >
    </li>
    <li>
      <a
        href="http://www.elperiodico.com/es/noticias/sociedad/tierra-marte-acercan-este-mes-estaran-millones-kilometros-3234850"
        target="_blank"
        rel="noopener noreferrer"
        >Entre el 14 i 15 d’abril de 2014: Mart molt a prop de la Terra</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/vida/20140722/54412114666/instituto-geologico-eeuu-elabora-el-mapa-mas-completo-de-marte-hasta-la-fecha.html"
        target="_blank"
        rel="noopener noreferrer"
        >El més complet mapa de Mars</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20150225/abci-puesta-marte-nasa-201502251322.html"
        target="_blank"
        rel="noopener noreferrer"
        >Capvespre a Mart</a
      >
    </li>
    <li>
      <a
        href="http://www.ara.cat/societat/mart-nasa-curiosity_0_1393060927.html"
        target="_blank"
        rel="noopener noreferrer"
        >Sobre la superficie de Mart</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20150928/abci-marte-agua-vida-201509281749.html"
        target="_blank"
        rel="noopener noreferrer"
        >Aigua a Mart</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/fotos-ciencia/20150928/imagenes-impactantes-hallazgo-agua-1622082743161.html"
        target="_blank"
        rel="noopener noreferrer"
        >Fotos de Mart</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-fobos-luna-marte-rompe-poco-poco-201511111945_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >Fobos es trenca</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-nuevo-rostro-para-marte-primitivo-201603021939_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >Una nova visió del Mars primitiu</a
      >
    </li>
  </ul>

  <h3>Jupiter:</h3>
  <ul>
    <li>
      <a
        href="http://www.abc.es/ciencia/20130929/abci-luna-jupiter-como-tierra-201309271835.html"
        target="_blank"
        rel="noopener noreferrer"
        >La lluna Io és com la Terra fa 4.000 mil.lions d’anys</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20131202/abci-desvelado-misterio-cicatrices-hielo-201312021006.html"
        target="_blank"
        rel="noopener noreferrer"
      >
        Sobre la lluna Europa</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20131212/abci-polo-europa-dispara-chorros-201312121248.html"
        target="_blank"
        rel="noopener noreferrer"
        >Aigüa a Europa?</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20150313/abci-ganimedes-guarda-interior-agua-201503121942.html"
        target="_blank"
        rel="noopener noreferrer"
        >Aïgua a Ganimedes</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20131227/abci-luna-jupiter-envia-chorros-201312262002.html"
        target="_blank"
        rel="noopener noreferrer"
        >Geisers: aigüa confirmada a Europa</a
      >
    </li>
    <li>
      <a
        href="http://www.elmundo.es/ciencia/2014/05/15/5374d22eca4741ce4a8b4573.html?cid=MNOT23801&amp;s_kw=la_mancha_menguante_de_jupiter"
        target="_blank"
        rel="noopener noreferrer"
        >Variacions a la gran taca de Júpiter</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/10/14/videos/1444845756_614925.html"
        target="_blank"
        rel="noopener noreferrer"
        >Animació sobre Júpiter</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/ciencia/20151014/54438095688/hubble-cambios-mancha-roja-jupiter.html"
        target="_blank"
        rel="noopener noreferrer"
        >Canvis a la Gran Taca</a
      >
    </li>
  </ul>

  <h3>Saturn:</h3>
  <ul>
    <li>
      <a
        href="http://www.larazon.es/detalle_normal/noticias/2563516/sociedad+ciencia/titan-nos-sigue-contando-secretos#.UbBMs4VOwbo"
        target="_blank"
        rel="noopener noreferrer"
        >Dades sobre la lluna Tità</a
      >
    </li>
    <li>
      <a
        href="http://www.larazon.es/detalle_normal/noticias/3809819/sociedad+ciencia/hallan-ingredientes-del-plastico-en-la-luna-de#.Ujut29I9rA0"
        target="_blank"
        rel="noopener noreferrer"
        >Elements de plàstic a Tità</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20131001/abci-encuentran-ingrediente-plastico-casero-201310011054.html"
        target="_blank"
        rel="noopener noreferrer"
        >Propilé a Tità</a
      >
    </li>
    <li>
      <a
        href="http://www.elmundo.es/ciencia/2013/11/04/5277bb636843415b1e8b457e.html?a=c00bf0b8de29a239622250409de6af27&amp;t=1383590296"
        target="_blank"
        rel="noopener noreferrer"
        >Foto de les llunes de Saturn</a
      >
    </li>
    <li>
      <a
        href="http://www.elmundo.es/ciencia/2014/04/03/533d5441268e3e811c8b4576.html"
        target="_blank"
        rel="noopener noreferrer"
        >Aigüa a la lluna Encelado</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20131205/abci-misterioso-hexagono-saturno-visto-201312051055.html"
        target="_blank"
        rel="noopener noreferrer"
        >L’hexàgon de Saturn</a
      >
    </li>
    <li>
      <a
        href="http://www.larazon.es/detalle_normal/noticias/5370209/sociedad+ciencia/la-nasa-capta-una-imagen-del-vertice-hexagonal-en-el-polo-norte-de-saturno#.UvFOloU_Ybo"
        target="_blank"
        rel="noopener noreferrer"
        >L’hexàgon en visió més global</a
      >
    </li>
    <li>
      <a
        href="http://www.larazon.es/detalle_normal/noticias/6740705/sociedad+ciencia/la-luna-titan-se-formo-antes-que-saturno-el-planeta-al-que-orbita#.Ttt1WEjlHFSGNlD"
        target="_blank"
        rel="noopener noreferrer"
        >Tità es va formar abans que Saturn</a
      >
    </li>
    <li>
      <a
        href="//www.abc.es/ciencia/20140520/abci-auroras-polares-saturno-201405191924.html"
        target="_blank"
        rel="noopener noreferrer"
        >Aurores polars de Saturn</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20141031/abci-cassini-fotografia-soleado-titan-201410310821.html"
        target="_blank"
        rel="noopener noreferrer"
        >Imatges de Tita</a
      >
    </li>
    <li>
      Ceres:
      <a
        href="http://sociedad.elpais.com/sociedad/2014/01/22/actualidad/1390413122_214143.html"
        target="_blank"
        rel="noopener noreferrer"
        >Vapor d’aigüa!</a
      >
    </li>
    <li>
      <a
        href="http://www.elperiodico.com/es/noticias/ciencia/fascinante-orografia-dione-una-luna-saturno-4446296"
        target="_blank"
        rel="noopener noreferrer"
        >La lluna Dione</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/ciencia/fisica-espacio/20150916/54435297410/encelado-oceano-subterraneo.html"
        target="_blank"
        rel="noopener noreferrer"
        >Aigüa a la lluna Encelado</a
      >
    </li>
    <li>
      <a
        href="http://www.publico.es/ciencias/luna-encelado-saturno-esconde-oceano.html"
        target="_blank"
        rel="noopener noreferrer"
        >+Sobre l’aigüa a Encelado</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/10/28/ciencia/1446019455_773477.html?rel=ult"
        target="_blank"
        rel="noopener noreferrer"
        >Cassini s’acosta a Encelado</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/12/10/ciencia/1449738113_825099.html"
        target="_blank"
        rel="noopener noreferrer"
        >Imatge de Tità</a
      >
    </li>
    <li>
      <a
        href="http://www.elmundo.es/ciencia/2015/12/10/5669782eca474151048b465c.html"
        target="_blank"
        rel="noopener noreferrer"
        >Ceres, el misteri dels punt billants</a
      >
    </li>
  </ul>

  <h3>Venus:</h3>
  <ul>
    <li>
      <a
        href="http://www.lavanguardia.com/ciencia/20140311/54402979065/arco-iris-planeta-venus.html"
        target="_blank"
        rel="noopener noreferrer"
        >Glòries, els arcs de Sant Martí del planeta</a
      >
    </li>
  </ul>

  <h3>Terra:</h3>
  <ul>
    <li>
      <a
        href="http://www.abc.es/ciencia/20140704/abci-viaje-polos-magneticos-tierra-201407031300.html"
        target="_blank"
        rel="noopener noreferrer"
        >Les variacions del pol magnètic</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20141201/abci-patata-potsdam-tierra-tiene-201412011101.html?pos=Zona_B_Zona_apertura-a1__011"
        target="_blank"
        rel="noopener noreferrer"
        >La gravetat és variada ( La patata de Postdam)</a
      >
    </li>
    <li>
      <a
        href="http://www.publico.es/ciencias/crean-web-mapa-3d-objetos.html"
        target="_blank"
        rel="noopener noreferrer"
        >Web amb els objectes que rodejen la Terra</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/ciencia/20150724/54434130133/fin-mundo-llegara-2100.html"
        target="_blank"
        rel="noopener noreferrer"
        >Colapse pel 2100?</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/10/07/ciencia/1444234354_302673.html"
        target="_blank"
        rel="noopener noreferrer"
        >El nucli de la Terra</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20151007/abci-nucleo-interno-tierra-millones-201510072000.html"
        target="_blank"
        rel="noopener noreferrer"
        >El nucli de la Terra 2</a
      >
    </li>
    <li>
      <a
        href="http://www.elperiodico.com/es/noticias/ciencia/nasa-capta-impresionante-imagen-tierra-desde-luna-4768912"
        target="_blank"
        rel="noopener noreferrer"
        >Foto de a Terra des de la Lluna</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/12/23/ciencia/1450857663_761760.html"
        target="_blank"
        rel="noopener noreferrer"
        >El matell de la Terra</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/12/15/ciencia/1450179769_533306.html?rel=lom"
        target="_blank"
        rel="noopener noreferrer"
        >Una Terra sense Lluna?</a
      >
    </li>
  </ul>

  <h3>Mercuri:</h3>
  <ul>
    <li>
      <a
        href="http://www.publico.es/ciencias/acantilados-gigantes-mercurio-nadie-explicacion.html"
        target="_blank"
        rel="noopener noreferrer"
        >Extranyes formacions</a
      >
    </li>
  </ul>

  <h3>Plutó:</h3>
  <ul>
    <li>
      <a
        href="http://www.skyandtelescope.com/astronomy-news/plutos-perplexing-moons-0603201545/?et_mid=757679&amp;rid=246895482"
        target="_blank"
        rel="noopener noreferrer"
        >Les sorprenents llunes de Plutó (in English)
      </a>
    </li>
    <li>
      <a
        href="http://www.publico.es/ciencias/pluton-naranja.html"
        target="_blank"
        rel="noopener noreferrer"
        >Plutó és taronja</a
      >
    </li>
    <li>
      <a
        href="http://www.publico.es/ciencias/fascinantes-abismos-y-crateres-atisban.html"
        target="_blank"
        rel="noopener noreferrer"
        >Ens acostem a Plutó i Caront</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/ciencia/20150717/54433982062/pluton-new-horizons-sputnik-corazon.html"
        target="_blank"
        rel="noopener noreferrer"
        >Planura gelada a Plutó</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/fotonoticias/fotos-ciencia/20150714/fotografia-detallada-planeta-publicada-1621521597533.html?utm_source=abc.es&amp;utm_medium=modulo-sugerido&amp;utm_content=noticia-AB&amp;utm_campaign=outbrain=obnetwork"
        target="_blank"
        rel="noopener noreferrer"
      >
        Foto de Plutó</a
      >
    </li>
    <li>
      <a
        href="http://www.eldiario.es/sociedad/New-Horizons-existencia-montanas-Pluton_0_409460062.html"
        target="_blank"
        rel="noopener noreferrer"
      >
        Muntanyes nevades a Plutó</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/ciencia/20150724/54434130482/pluton-new-horizons-oceano-atmosfera-glaciar.html"
        target="_blank"
        rel="noopener noreferrer"
        >Un oceà sota la superfície?</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/09/11/album/1441955593_299337.html#1441955593_299337_1441956868"
        target="_blank"
        rel="noopener noreferrer"
        >Fotogaleria de les dunes de Plutó</a
      >
    </li>
    <li>
      <a
        href="http://www.nasa.gov/sites/default/files/thumbnails/image/pmap_pmc195_8092-shenk.jpg"
        target="_blank"
        rel="noopener noreferrer"
      >
        Foto de la Nasa de Plutó</a
      >
    </li>
    <li>
      <a
        href="http://www.nasa.gov/sites/default/files/thumbnails/image/pmap_pmc195_8092-shenk.jpg"
        target="_blank"
        rel="noopener noreferrer"
        >Noves dades de Plutó</a
      >
    </li>
    <li>
      <a
        href="http://www.publico.es/ciencias/cielos-azules-y-hielo-rojo.html"
        target="_blank"
        rel="noopener noreferrer"
        >Cels blaus a Plutó</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/ciencia/20151008/54437119666/pluton-nasa-agua-new-horizons.html"
        target="_blank"
        rel="noopener noreferrer"
        >Cels blaus a Plutó 2</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/10/15/ciencia/1444903097_124299.html"
        target="_blank"
        rel="noopener noreferrer"
        >Aigüa i compostos orgànics a Plutó</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-intrigante-superficie-pluton-201601081507_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >Una X a Plutó</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-descubren-capa-nieve-exotica-pluton-201603051821_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >Neu exòtica a Plutó</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-nasa-publica-imagenes-mas-nitidas-jamas-vistas-pluton-201512051223_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >Bones fotos de Plutó</a
      >
    </li>
  </ul>

  <h3>Ceres:</h3>
  <ul>
    <li>
      <a
        href="http://www.elperiodico.com/es/noticias/ciencia/sonda-dawn-cartografia-planeta-enano-ceres-4256861"
        target="_blank"
        rel="noopener noreferrer"
        >Video d’una volta a Ceres</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20150624/abci-misterio-piramide-ceres-201506241110.html"
        target="_blank"
        rel="noopener noreferrer"
        >Una pirámide i punts brillants a Ceres</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/07/01/ciencia/1435759300_273903.html"
        target="_blank"
        rel="noopener noreferrer"
        >Història del descobriment</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-descubren-nuevo-planeta-dentro-sistema-solar-201511111736_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >V774104: UN NOU PLANETA NAN</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-resuelto-misterio-puntos-brillantes-sobre-ceres-201512091503_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >El misteri de les cent taques brillants</a
      >
    </li>
  </ul>

  <h3>El Nové Planeta?</h3>
  <ul>
    <li>
      <a
        href="http://www.lavanguardia.com/vida/20160120/301552777268/nuevo-planeta-sistema-solar.html"
        target="_blank"
        rel="noopener noreferrer"
        >Més lluny de Neptú</a
      >
    </li>
    <li>
      <a
        href="http://www.elperiodico.com/es/noticias/ciencia/noveno-planeta-del-sistema-solar-4831832"
        target="_blank"
        rel="noopener noreferrer"
        >Altres dades</a
      >
    </li>
  </ul>
</section>
