<section class="content">
  <h2>Via Làctia</h2>
  <ul>
    <li>
      <a
        href="http://www.ara.cat/societat/lactia-via-fotografia-agencia-espacial-europea_0_1388861346.html"
        target="_blank"
        rel="noopener noreferrer"
        >Foto de cantell Via Làctia</a
      >
    </li>
    <li>
      <a
        href="http://elpais.com/elpais/2015/10/21/ciencia/1445438666_762919.html?rel=epr"
        target="_blank"
        rel="noopener noreferrer"
        >La Via Làctia en 46.000 pixels</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/vida/20160111/301328322304/crean-un-mapa-de-edad-de-la-via-lactea-que-permitira-conocer-como-ha-crecido-la-galaxia.html"
        target="_blank"
        rel="noopener noreferrer"
        >Mapa d’edat de la Via Làctia</a
      >
    </li>
    <li>
      <a
        href="http://comofuncionaque.com/que-es-la-via-lactea/"
        target="_blank"
        rel="noopener noreferrer"
        >Qué és la Via Làctia?</a
      >
    </li>
    <li>
      <a
        href="http://www.elperiodico.com/es/noticias/ciencia/imagen-via-lactea-hemisferio-sur-telescopio-apex-4924151"
        target="_blank"
        rel="noopener noreferrer"
        >Fotografia des l'hemisferi Sud</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/20120925/ciencia/abci-nube-gigante-ardiente-envuelve-201209250937.html"
        target="_blank"
        rel="noopener noreferrer"
        >Rodejada per un nuvol calent</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2012/01/12/actualidad/1326370785_759572.html"
        target="_blank"
        rel="noopener noreferrer"
        >És blanca</a
      >
    </li>
    <li>
      <a
        href="http://www.elpais.com/articulo/futuro/Retrato/Via/Lactea/miles/millones/planetas/elpepusocfut/20120118elpepifut_1/Tes"
        target="_blank"
        rel="noopener noreferrer"
        >Futur retart Via Làctia</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2012/10/24/actualidad/1351081430_777440.html"
        target="_blank"
        rel="noopener noreferrer"
        >Mapa del centre de la Via Làctia</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/ciencia/20121024/54353849069/creado-el-mapa-mas-preciso-del-centro-de-la-via-lactea-con-84-millones-estrellas.html"
        target="_blank"
        rel="noopener noreferrer"
        >Mapa del centre de la Via Làctia (La Vanguardia)</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2012/11/02/actualidad/1351848410_872898.html"
        target="_blank"
        rel="noopener noreferrer"
        >Un telescopi mesura la “boira” que han deixat les estrelles. Amb una
        bona representació de la Via Làctia</a
      >
    </li>
    <li>
      <a
        href="http://www.larazon.es/detalle_normal/noticias/819237/sociedad+ciencia/los-escarabajos-peloteros-usan-la-via-lactea-p"
        target="_blank"
        rel="noopener noreferrer"
        >Els escarbats piloters s’orienten amb la Via Làctia </a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20131024/abci-lactea-tambalea-como-bandera-201310241234.html"
        target="_blank"
        rel="noopener noreferrer"
        >La Via Làctia fa ones  La Via Làctia està ondulada
      </a>
    </li>
    <li>
      El núvol d’hidrògen d’Smith xocarà amb la Via Làctia d’aquí 30 mil.lions
      d’anys. Però aquest desembre 2013 aprox. un nuvol similar més petit hi
      arribarà al centre.
      <a
        href="http://www.abc.es/ciencia/20131108/abci-nube-gigante-chocara-contra-201311071800.html"
        target="_blank"
        rel="noopener noreferrer"
        >Video.</a
      >
    </li>
    <li>
      <a
        href="http://www.lavanguardia.com/ciencia/20120222/54258307212/velocidad-record-huracan-cosmico-agujero-negro.html"
        target="_blank"
        rel="noopener noreferrer"
        >A trentados millions de kilòmetes per hora!</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2012/02/21/actualidad/1329857922_867420.html"
        target="_blank"
        rel="noopener noreferrer"
        >“Influència planetària”</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2012/02/28/actualidad/1330457535_712646.html"
        target="_blank"
        rel="noopener noreferrer"
        >Entendre la terra mirant a la Lluna</a
      >
    </li>
    <li>
      <a
        href="http://www.youtube.com/watch?v=5Cra5Jk_U64&amp;feature=player_embedded#!"
        target="_blank"
        rel="noopener noreferrer"
        >El mapa complet del cel en infrarrojos Esplèndida película curta sobre
        les estrelles més grans.</a
      >
    </li>
    <li>
      <a
        href="http://youtu.be/P4boyXQuUIw"
        target="_blank"
        rel="noopener noreferrer"
        >“L’aterratge” a Mart</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2012/08/30/actualidad/1346341791_039594.html"
        >Saturn esplèndit</a
      >
    </li>
    <li>
      <a
        href="http://www.eldebat.cat/cat/notices/2012/09/la_voyager_1_reformula_els_limits_dels_sistema_solar_101294.php"
        target="_blank"
        rel="noopener noreferrer"
        >Cal reformular els límits del Sistema Solar</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2013/08/14/actualidad/1376499646_603851.html"
        target="_blank"
        rel="noopener noreferrer"
        >El forat negre al centre de la Via Làctia</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/abci-agujero-negro-cambia-toda-galaxia-201601070844_noticia.html"
        target="_blank"
        rel="noopener noreferrer"
        >El forat negre del centre pot influir sobre la terra</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20140423/abci-choque-entre-lactea-andromeda-201404221756.html"
        target="_blank"
        rel="noopener noreferrer"
        >Animació del xoc entre la Via Làctia i Andrómeda</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2014/05/13/actualidad/1400006447_059269.html"
        target="_blank"
        rel="noopener noreferrer"
        >L’empremta magnètica de la Via Làctia</a
      >
    </li>
    <li>
      <a
        href="http://sociedad.elpais.com/sociedad/2014/09/03/actualidad/1409766066_878005.html"
        target="_blank"
        rel="noopener noreferrer"
        >La Via Làctia en el seu contex: Laniakea (El Pais)</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20140903/abci-laniakea-tierra-esta-dentro-201409031621.html"
        target="_blank"
        rel="noopener noreferrer"
        >Laniakea (ABC)</a
      >
    </li>
    <li>
      <a
        href="http://www.abc.es/ciencia/20150601/abci-filamentos-materia-lactea-201506011707.html"
        target="_blank"
        rel="noopener noreferrer"
        >Filaments a la Via Làctia</a
      >
    </li>
    <li>
      <a
        href="http://foros.acb.com/viewtopic.php?t=335693&amp;start=375"
        target="_blank"
        rel="noopener noreferrer"
        >De astronomía cada día</a
      >
    </li>
  </ul>
</section>
