// News
// -----------------------------------------------------------------------------

.news {
  @include bg-img(
    "page/index/",
    "celestial-map",
    "png",
    $c-gray-10,
    $c-gray-10,
    $c-gray-10,
    $c-gray-10,
    center,
    center,
    auto
  );
  padding-top: convert-px-to-rem(48);
  padding-bottom: convert-px-to-rem(304);
  position: relative;
  z-index: 0;

  @media ($medium-up) {
    padding-top: convert-px-to-rem(136);
    padding-bottom: convert-px-to-rem(130);
  }

  @media ($large-up) {
    padding-top: convert-px-to-rem(176);
    padding-bottom: convert-px-to-rem(150);
  }

  &__inner {
    @media ($medium-up) {
      width: convert-px-to-rem(300);
    }

    @media ($large-up) {
      width: convert-px-to-rem(480);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
  }
}
