// Repertori
// -----------------------------------------------------------------------------

.repertori {
  @include block-link(flex);
  align-items: flex-start;
  flex-wrap: wrap;
  padding: convert-px-to-rem(16);
  border-radius: $brr-medium;

  @media ($large-up) {
    flex-wrap: nowrap;
  }

  & + & {
    margin-top: convert-px-to-rem(32);

    @media ($large-up) {
      margin-top: convert-px-to-rem(48);
    }
  }

  &__media {
    width: 100%;
    margin-bottom: convert-px-to-rem(16);

    @media ($large-up) {
      flex: 0 0 33.33333%;
      margin-bottom: 0;
      margin-right: convert-px-to-rem(32);
    }
  }

  &__content {
    @media ($large-up) {
      padding-top: convert-px-to-rem(8);
      padding-bottom: convert-px-to-rem(8);
    }
  }

  &__title {
    margin-bottom: convert-px-to-rem(16);

    @media ($large-up) {
      display: flex;
      align-items: baseline;
    }

    .h4,
    .overline {
      margin-bottom: 0;
    }

    .overline::before {
      @media ($large-up) {
        content: "\25CF";
        padding-right: convert-px-to-rem(8);
        padding-left: convert-px-to-rem(8);
      }
    }
  }

  &__desc,
  &__desc.body-1 {
    margin-bottom: convert-px-to-rem(24);
    padding-right: convert-px-to-rem(16);

    @media ($medium-up) {
      padding-right: convert-px-to-rem(32);
    }

    @media ($large-up) {
      padding-right: convert-px-to-rem(48);
    }
  }

  &__actions,
  &__actions.body-1 {
    margin-bottom: 0;
  }

  &__actions {
    .link {
      position: relative;
      left: convert-px-to-rem(-4);
    }
  }

  &--link {
    box-shadow: none;
    transition: background-color 0.25s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: $c-gray-10;
    }

    @include state-focus;
  }

  &--active {
    background-color: $c-primary-08;

    &:hover {
      cursor: pointer;
      background-color: $c-primary-12;
    }
  }
}
