<ul class="card-list">
  <li class="card-list__item">
    <!-- prettier-ignore -->
    {{ partial "card-link.html" (dict "link" "repertori/" "path" "/images/page/repertori/banner-01.jpg" "title" "Repertori" "class" "o-img-aspect-ratio--op-right") }}
  </li>
  <li class="card-list__item">
    <!-- prettier-ignore -->
    {{ partial "card-link.html" (dict "link" "biografia/" "path" "/images/page/biografia/banner-01.jpg" "title" "Biografia") }}
  </li>
  <li class="card-list__item">
    <!-- prettier-ignore -->
    {{ partial "card-link.html" (dict "link" "coses-del-cel/" "path" "/images/page/coses-del-cel/banner-01.jpg" "title" "Coses del cel") }}
  </li>
</ul>
